@model IEnumerable<AzureBlog.Models.ArticleModel>

@{
    ViewBag.Title = "Article";
}
<div class="wholePost">
    @foreach (var article in Model)
    {
        <img class="coverPic" src="@article.ArticlePic" />
        <div class="greyBox">
            <div class="alignCenter">
                <p class="tblContents">Table of contents</p>
            </div>
            <hr />
            @Html.Partial("_tableOfContents", article)
        </div>
        foreach (var segment in article.ArticleSegments.OrderByDescending(x => x.Votes))
        {
            <div class="greyBox">
           
                @Html.Partial("_segmentBox", segment)
                @Html.Partial("_firstProduct", segment)
                @Html.Partial("_productList", segment)

    

            </div>

            if (User.IsInRole("Admin"))
            {
                @Html.Partial("_editSegment", segment)


                @Html.Partial("_addProduct", segment)

                <form action="~/Default/Article/DeleteSegment">
                    <input name="segId" hidden value="@segment.ArticleSegmentId" />
                    <input name="ArticleSlug" hidden value="@article.ArticleSlug" />
                    <button>Delete Segment</button>
                </form>
            }


        }
        @Html.Partial("_addSegment", article);
        @Html.Partial("_userAddSegment", article);
    }

</div>